In [66]:
import pandas as pd
import numpy as np
import imageio

W = 720
H = 480
work_dir = '/home/shen/BU_learn/EC720/Final_project/'
label_excel_dir = work_dir + 'raw_data/ut-interaction_labels_110912.xls'
video_dir = []
for i in range(10):
    video_dir.append(work_dir + 'set_1/seq%d.avi'%(i+1))

In [52]:
fn = np.zeros(10)
for i in range(10):
    vid = imageio.get_reader(video_dir[i],  'ffmpeg')
    fn[i] = vid.get_length()

In [48]:
df = pd.read_excel(label_excel_dir,header=1)
df = df.dropna(subset=['Main actor (left=0, right=1)'])
sf = df[df['sequence #'] == 'seq%d'%1]
sf

,Set,sequence #,Activity Class ID,Starting Frame #,Ending Frame #,X-Cord,Y-Cord,X-Cord.1,Y-Cord.1,"Main actor (left=0, right=1)"
0,1.0,seq1,4.0,762.0,841.0,220.0,113.0,620.0,410.0,1.0
1,1.0,seq1,2.0,919.0,1008.0,185.0,90.0,673.0,423.0,1.0
2,1.0,seq1,1.0,1064.0,1207.0,225.0,105.0,655.0,420.0,-1.0
3,1.0,seq1,3.0,1311.0,1408.0,210.0,122.0,433.0,422.0,0.0
4,1.0,seq1,0.0,1408.0,1562.0,225.0,110.0,655.0,423.0,-1.0
5,1.0,seq1,5.0,1593.0,1675.0,200.0,110.0,640.0,410.0,1.0

In [65]:
for i in range(10):
    sf = df[df['sequence #'] == 'seq%d'%(i+1)]
    ground_truth = np.ones(int(fn[i]))
    ground_truth = ground_truth * 6
    for n, row in sf.iterrows():
        start = int(row['Starting Frame #'])
        end = int(row['Ending Frame #'])
        cid = row['Activity Class ID']
        ground_truth[start:end] = cid
    print('label_array lenth of seq_%d is: %d'%(i+1,ground_truth.shape[0]))
    np.save('array/Y_seq_%d.npy'%(i+1),ground_truth)

label_array lenth of seq_1 is: 2031
label_array lenth of seq_2 is: 1535
label_array lenth of seq_3 is: 2096
label_array lenth of seq_4 is: 1242
label_array lenth of seq_5 is: 1816
label_array lenth of seq_6 is: 1458
label_array lenth of seq_7 is: 2168
label_array lenth of seq_8 is: 2378
label_array lenth of seq_9 is: 4013
label_array lenth of seq_10 is: 2168